/* TEMPLATE SIZES
A4: 2480 x 3508
Desktop Zooming: 1085 x 1411
Builder end: 638 x 830
Mobile builder end: 300 x 390 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* FONT */
@font-face {
    font-family: 'lorabold';
    src: url('fonts/Lora/lora-bold-webfont.woff2') format('woff2'),
         url('fonts/Lora/lora-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/Open-Sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/Open-Sans-Bold/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans-Bold/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Globals */
.a4-container{	
	width:2480px;
	height: auto;
	min-height:3508px;
	background: #FFFFFF;
	position: relative;
	overflow:hidden;
	padding-bottom:40px;
}

.grid-1-3{
	width:820px;
	border-right:8px solid #dcdcdc;
	vertical-align: top;
	display: table-cell;
}
.grid-2-3{
	width:1580px;
	display: table-cell;
}

.grid-content{
	width:100%;
	height:auto;
	float:left;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.txt-center{
	text-align: center;
}
.bold{
	font-weight: bold;
	 font-family: 'open_sansbold';
}
.regular{
	font-weight: normal;
}
.italic{
	font-style:italic;
}



/* 2019 */
.a42019-control{	
	width:2420px;
	display: table;
	float:none;
	padding:30px 30px 140px 30px;
}
.color1-2019{
	background-color: #4d70af!important;
}
.color2-2019{
	background-color: #9f4636!important;
}
.color3-2019{
	background-color: #cc763c!important;
}
.color4-2019{
	background-color: #709f51!important;
}
.color5-2019{
	background-color: #dcab36!important;
}
.header-holder{
	width:2420px;
	float:none;
	padding:30px 30px 140px 30px
}
.header-2019{
	position: relative;
	width:100%;
	height:auto;
	min-height:300px;
	float:left;
	background:#363636;
	margin-bottom:100px;
	text-align: center;
	text-transform: uppercase;
	padding:60px 0px 60px 0px;
}
.header-2019-text{
	width:100%;
	height:auto;
	margin:0px auto 0px auto;
	padding:30px;
}
.header-2019 h1{
	font-family: "lorabold", Times, serif;
	color:#FFFFFF;
	font-size: 132px;
	padding-bottom:40px;
	letter-spacing: 0.2em;
}
.header-2019 h4{
	font-family: 'open_sansregular', Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:64px;
	padding-bottom:0px;
	letter-spacing: 0.125em;
}
.l2019{
	width:auto;
	height:auto;
	float:left;
	padding-bottom:40px;
	padding-left: 10px;
	padding-right:120px;
}
.r2019{
	width:auto;
	height:auto;
	float:left;
	padding-bottom:40px;
	padding-left: 120px;
	padding-right:80px;
}

.l2019-title,
.r2019-title{
	font-family: "lorabold", Times, serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size:54px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:20px;
	position:relative;
	letter-spacing: 0.125em;
}
.l2019-element{
	width: 40px;
    height: 40px;
    margin-right: -144px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}
.l2019-element2{
	width: 90px;
    height: 8px;
    margin-top: 22px;
    margin-right: -120px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #dcdcdc;
    z-index: 1;
}
.r2019-element{
	width: 40px;
    height: 40px;
    margin-left: -144px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
.r2019-element2{
	width: 90px;
    height: 8px;
    margin-top: 22px;
    margin-left: -120px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #dcdcdc;
    z-index: 1;
}
.l2019-sub-title, 
.r2019-sub-title{
	font-family: 'open_sansbold', Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:15px;
	position:relative;
	letter-spacing: 0.1em;
}
.l2019-altsub-title, 
.r2019-altsub-title{
	font-family: 'open_sansbold', Helvetica, sans-serif;
	font-weight: normal;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:20px;
	position:relative;
	font-style: italic;
}
.l2019 ul li{
	margin-bottom: 10px;
}
.l2019-para,
.r2019-para{
	font-family: 'open_sansregular', Helvetica, sans-serif;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:50px;
	position:relative;
	line-height: 1.25em;
}
.r2019-para ul{
	list-style-type:disc;
	list-style-position:inside;
	padding-left: 1.375em;
	text-indent: -1.375em;
}



