/* TEMPLATE SIZES
A4: 2480 x 3508
Desktop Zooming: 1085 x 1411
Builder end: 638 x 830
Mobile builder end: 300 x 390 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Globals */
.plate-container{
	width:100%;
	height:100%;
	overflow: scroll;
	background-color:#d2d3d5;
	float:left;
}
.a4-container{	
	width:2480px;
	height: auto;
	min-height:3508px;
	margin:100px auto 100px auto;
	background: #FFFFFF;
	position: relative;
	overflow:hidden;
	display: table;
}

.grid-1-3{
	width:868px;
	vertical-align: top;
	display: table-cell;
}
.grid-2-3{
	width:1580px;
	display: table-cell;
}

.grid-full{
	width:100%;
	height:auto;
	float: left;
	position: relative;
}
.grid-content{
	width:100%;
	height:auto;
	float:left;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.txt-center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.regular{
	font-weight: normal;
}
.italic{
	font-style:italic;
}


/* FONT */

@font-face {
    font-family: 'catamaranbold';
    src: url('fonts/Catamaran/catamaran-bold-webfont.woff2') format('woff2'),
         url('fonts/Catamaran/catamaran-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/Open-Sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/Open-Sans-Bold/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans-Bold/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('fonts/Open-Sans-Extra/opensans-extrabold-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans-Extra/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* Everest */
.a4-eve-control{	
	width:2480px;
	height:auto;
	display:table;
}
.color0-eve{
	color: #bf923c!important;
}
.color1-eve{
	color: #2e75b6!important;
}
.color2-eve{
	color: #767171!important;
}
.color3-eve{
	color: #c55a11!important;
}
.color4-eve{
	color: #8faadc!important;
}
.color5-eve{
	color: #548235!important;
}
.color6-eve{
	color: #FFFFFF!important;
}
.height-max{
	height:3000px!important;
}
.bg-color1-eve{
	background-color: #2e75b6!important;
}
.bg-color2-eve{
	background-color: #767171!important;
}
.bg-color3-eve{
	background-color: #c55a11!important;
}
.bg-color4-eve{
	background-color: #8faadc!important;
}
.bg-color5-eve{
	background-color: #548235!important;
}
.br-color1-eve{
	border-color: #2e75b6!important;
}
.br-color2-eve{
	border-color: #767171!important;
}
.br-color3-eve{
	border-color: #c55a11!important;
}
.br-color4-eve{
	border-color: #8faadc!important;
}
.br-color5-eve{
	border-color: #548235!important;
}
.eve-1-3{
	width:660px;
	max-width: 660px;
	min-height: 3508px;
	vertical-align: top;
	display: table-cell;
	padding:60px 90px 0px 120px;
	background-color: #404040;
	border-right:8px solid #bf923c;
}
.eve-2-3{
	width:1580px;
	max-width:1580px;
	display: table-cell;
	padding:60px 120px 0px 90px;
	border-left:8px solid #595959;
}

.eve-1-3-first{
	padding:120px 80px 0px 120px;
	height:auto;
	margin-top:0px;
	width:660px;
	max-width: 660px;
	position:relative;
}

.eve-2-3-first{
	width:1580px;
	max-width:1580px;
	padding:60px 90px 0px 120px;
	position: relative;
	min-height:600px;
}
.header-eve{
	position: relative;
	width:2480px;
	height:auto;
	float:left;
	text-align: center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.header-eve h1{
	position: relative;
	left: 0;
	right: 0;
	font-family: "catamaranbold", Helvetica, sans-serif;
	font-size: 140px;
	width:auto;
	max-width:1800px;
	text-transform: uppercase;
	color:#FFFFFF;
	background-color: #404040;
	padding:60px 30px;
	margin:0px auto 0px auto;
}
.header-eve h1 span{
	color: #d9b289;
	}
.header-eve h4{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size:54px;
	width:auto;
	color:#595959;
	letter-spacing: 0.125em;
	bottom:0;
	right:0;
	padding:40px 15px 0px 15px;
}
.header-element{
	width:4000px;
	height:8px;
	background: #bf923c;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin:0px auto -30px auto;
	z-index: 3;
}
.eve{
	width:100%;
	height:auto;
	float:left;
	margin-bottom: 80px;
}
.eve-icon{
	width:64px;
	height:64px;
	float:left;
	position:absolute;
	right: 0;
	margin-right: 60px;
}
.eve-icon img{
	width:64px;
	height:64px;
}
.eve ul li{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size: 42px;
	min-width:666px;
	height:auto;
	float: left;
	margin-bottom:60px;
	min-height: 54px;
	margin:0px 0px 15px 0px;
}
.eve ul li p{
	width:auto;
	height:auto;
	line-height: 1.6em;
	float: right;
	padding-right:90px;
	text-align: right;
}

.eve-title{
	position:relative;
	font-family: "open_sansregular", Helvetica, sans-serif;
	text-transform: uppercase;
	font-size:54px;
	width:100%;
	height:auto;
	float:left;
	text-align: center;
	position:relative;
	letter-spacing: 0.3em;
	margin-bottom:60px;
	padding-right:0px;
}
.eve-title-element{
	width:100%;
	height:8px;
	background: #bf923c;
	position: absolute;
	right: 0;
	left: 0
	top: 0;
	margin:20px auto 0px auto;
}
.eve-sub-title{
	font-family: "open_sansregular", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:15px;
	position:relative;
	letter-spacing: 0.07em;
	line-height: 1.5em;
}
.eve-altsub-title{
	font-family: "open_sansbold", Helvetica, sans-serif;
	font-weight: normal;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:30px;
	position:relative;
	font-style: italic;
	line-height: 1.5em;
}
.eve-para{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:60px;
	position:relative;
	line-height: 1.5em;
}
.eve-para ul{
	list-style-type:disc;
	list-style-position:inside;
	padding-left: 1.375em;
	text-indent: -1.375em;
}

.eve-skills{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size:42px;
	font-weight: bold;
	width:100%;
	height:auto;
	height:auto;
	float:right;
	margin-bottom:0px;
}
.eve-skills ul{
	width:100%;
	height:52px;
	float:left;
	margin-bottom:30px;
}
.eve-skills ul li{
	width:48px;
	height:48px;
	min-width: 48px;
	padding:2px 10px;
	float:right;
	margin-top: 10px;
}
.eve-skills ul li img{
	width:48px;
	height:48px;
	float:right;
}
.eve-education{
	width:50%;
	height:auto;
	float:left;
}
.eve-para ul{
	list-style-type:disc;
	list-style-position:inside;
	padding-left: 1.375em;
	text-indent: -1.375em;
}
.eve-para ul li{
	padding-left: 60px;
}


