/* TEMPLATE SIZES
A4: 2480 x 3508
Desktop Zooming: 1085 x 1411
Builder end: 638 x 830
Mobile builder end: 300 x 390 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/* Globals */
.plate-container{
	width:100%;
	height:100%;
	overflow: scroll;
	background-color:#d2d3d5;
	float:left;
}
.a4-container{	
	width:2480px;
	height: auto;
	min-height:3508px;
	margin:100px auto 100px auto;
	background: #FFFFFF;
	position: relative;
	overflow:hidden;
}
.grid-content{
	width:100%;
	height:auto;
	float:left;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.txt-center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.regular{
	font-weight: normal;
}
.italic{
	font-style:italic;
}


/* FONT */


@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/Open-Sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/Open-Sans-Bold/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/Open-Sans-Bold/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Minimalist */
.a4-min-control{	
	width:2480px;
	height:auto;
	display:table;
}
.color1-min{
	color: #4472c4!important;
}
.color2-min{
	color: #4e8827!important;
}
.color3-min{
	color: #941006!important;
}
.color4-min{
	color: #7030a5!important;
}
.color5-min{
	color: #cc773d!important;
}

.min-1-3{
	width:660px;
	max-width: 660px;
	vertical-align: top;
	display: table-cell;
	padding:40px 60px 0px 120px;
}
.min-2-3{
	width:1580px;
	max-width:1580px;
	display: table-cell;
	padding:40px 120px 90px 60px;
	border-left:8px solid #595959;
}
.header-min{
	position: relative;
	width:2480px;
	height:auto;
	min-height:200px;
	float:left;
	border-bottom:8px solid #595959;
	text-align: center;
	padding:120px 0px 60px 0px;
	margin-bottom:100px;
}
.header-min-text{
	width:100%;
	height:auto;
	margin:0px auto 0px auto;
	padding:30px 0px 30px 0px;
}
.header-min h1{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size: 180px;
	text-transform: uppercase;
	color:#000000;
	padding-bottom:60px;
}
.header-min h4{
	position:absolute;
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size:48px;
	width:auto;
	max-width:1240px;
	color:#595959;
	background:#FFFFFF;
	letter-spacing: 0.125em;
	bottom:0;
	right:0;
	padding:15px 15px;
	margin:0px 360px -40px auto;
}
.min{
	width:100%;
	height:auto;
	float:left;
	margin-bottom: 60px;
	position: relative;
}
.min-icon{
	width:64px;
	height:64px;
	float:left;
	position:absolute;
	right: 0;
	margin-right: 0px;
}
.min-icon img{
	width:64px;
	height:64px;
}
.min ul li{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size: 42px;
	height:auto;
	width:100%;
	float: left;
	min-height: 54px;
	margin:0px 0px 10px 0px;
}
.min ul li p{
	width:530px;
	height:auto;
	line-height: 1.5em;
	float: left;
	text-align: right;
}

.min-title{
	font-family: "open_sansregular", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	position:relative;
	letter-spacing: 0.35em;
	margin-bottom:60px;
}
.min-title2{
	font-family: "open_sansregular", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size:42px;
	width:auto;
	height:auto;
	float:left;
	position:relative;
	padding: 20px;
	border:8px solid #595959;
	letter-spacing: 0.35em;
	margin-bottom:40px;
}
.min-sub-title{
	font-family: "open_sansregular", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:15px;
	position:relative;
	letter-spacing: 0.05em;
	line-height: 1.5em;
}

.min-altsub-title{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-weight: normal;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:30px;
	position:relative;
	font-style: italic;
	line-height: 1.5em;
}
.min-para{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size:42px;
	width:100%;
	height:auto;
	float:left;
	margin-bottom:60px;
	position:relative;
	line-height: 1.5em;
}
.min-para ul{
	list-style-type:disc;
	list-style-position:inside;
	padding-left: 1.375em;
	text-indent: -1.375em;
	line-height: 1.5em;
}

.min-skills{
	font-family: "open_sansregular", Helvetica, sans-serif;
	font-size:42px;
	font-weight: bold;
	width:100%;
	height:auto;
	height:auto;
	float:right;
	margin-bottom:0px;
}
.min-skills ul{
	width:100%;
	height:52px;
	float:left;
	margin-bottom:30px;
}
.min-skills ul li{
	width:48px;
	height:48px;
	min-width: 48px;
	padding:2px 10px;
	float:right;
	margin-top: 10px;
}
.min-skills ul li img{
	width:48px;
	height:48px;
	float:right;
}
.min-education{
	width:50%;
	height:auto;
	float:left;
}
.min-para ul{
	list-style-type:disc;
	list-style-position:inside;
	padding-left: 1.375em;
	text-indent: -1.375em;
}
.min-para ul li{
	padding-left: 60px;
}
